@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, .layout {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
}

/* Header and Nav */

.header {
    color: rgb(66, 63, 63);
    background-color: #faf1da;
    display: flex;
    height: 250px;
    align-items: flex-end;
}

.headerContent {
    padding-left: 350px;
    padding-bottom: 20px;
}

.headerContent h1 {
    padding-bottom: 15px;
    font-size: 30pt;
    cursor: default;
    user-select: none;
}

.nav {
    display: flex;
    list-style: none;
    padding-left: 150px;
}

.navLinks {
    background-color: inherit;
    display: grid;
    place-content: center;
    text-decoration: none;
    font-size: 14pt;
    height: 40px;
    width: 86px;
    margin-right: 50px;
    border: 1px solid #e7c8a0;
    border-radius: 3px;
    user-select: none;
}

.navLinks {
    color: black;
}

.navLinks:active {
    background-color: #f8f3e6;
}

.navLinks:visited {
    color: black;
}

/* Content */

.contentView {
    display: flex;
    flex: auto;
    padding-top: 30px;
    justify-content: center;
    background-color: #fffcea;
}

.contentBox {
    height: 500px;
    width: 1200px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 50px;
    position: relative;
}

.contentHeaders {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: default;
    user-select: none;
}

.contentBody {
    word-wrap: normal;
    font-size: 14pt;
    padding-left: 20px;
    cursor: default;
    user-select: none;
}

.aboutFooter a:visited{
    color: rgb(0, 0, 102);
}

.projectTile {
    padding-bottom: 10px;
}

.projectTile a:visited {
    color: rgb(0, 0, 102);
}

.projectList {
    list-style: none;
    padding-left: 0px;
}